* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  background: #c1bbbb;
}

section {
  width: 100%;
}

ul li {
  list-style: none;
}

.add-button {
  background: #12a6e5;
  color: #ffffff;
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}
